/* EmailLogin */

.email-login {
  padding: 2em;
  background-color: #b79e84;
}

.email-login .login-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 3em;
}

.email-login .input-box {
  display: flex;
  padding: 5px 0px;
  width: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  /* height: 50%; */
  margin-top: 1em;
}

.forget {
  cursor: pointer;
  border: none;
  background-color: #b79e84;
  color: white;
  padding: 0px;
}

@media (max-width: 486px) {
  .login-wrapper>button{
    height: 3em;
    font-size: 1em;
  }
}
